{% extends 'base.html' %}

{% block content %}

<h3 class="mb-4">User: {{ user.username }}</h3>

<div class="card shadow p-4">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Month</th>
                <th>Income</th>
                <th>Expense</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for data in monthly_data %}
            <tr>
                <td>{{ data.month }}</td>
                <td>₹ {{ data.income }}</td>
                <td>₹ {{ data.expense }}</td>
                <td>
                    <strong class="{% if data.balance < 0 %}text-danger{% else %}text-success{% endif %}">
                        ₹ {{ data.balance }}
                    </strong>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">
                    No Data Available
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}