{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-dark bg-dark px-3">
  <span class="navbar-brand">Expense Pilot</span>
  <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card dashboard-card">
        <h4>Total Expense</h4>
        <h2>₹ {{ total }}</h2>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <a href="{% url 'expense_list' %}" class="btn btn-primary">Manage Expenses</a>
    <a href="{% url 'user_monthly_chart' %}" class="btn btn-info">Monthly Chart</a>
    <a href="{% url 'user_yearly_chart' %}" class="btn btn-warning">Yearly Chart</a>
    <a href="{% url 'add_income' %}" class="btn btn-success">Add Income</a>

 </div>
 <h2>Monthly Financial Summary</h2>
  <table border="1" cellpadding="8">
    <tr>
        {% if is_admin %}
            <th>User</th>
        {% endif %}
        <th>Month</th>
        <th>Income</th>
        <th>Expense</th>
        <th>Balance</th>
    </tr>

    {% for data in finance_data %}
    <tr>
        {% if is_admin %}
            <td>{{ data.user }}</td>
        {% endif %}
        <td>{{ data.month }}</td>
        <td>₹ {{ data.income }}</td>
        <td>₹ {{ data.expense }}</td>
        <td>
            {% if data.balance >= 0 %}
                <span style="color:green;">₹ {{ data.balance }}</span>
            {% else %}
                <span style="color:red;">₹ {{ data.balance }}</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
</div>

</body>
</html>
