<!DOCTYPE html>
<html>
<head>
    <title>Monthly Expense Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h2>Monthly Expense Chart</h2>

<canvas id="monthlyChart" width="600" height="300"></canvas>

<script>
document.addEventListener("DOMContentLoaded", function() {

    const labels = JSON.parse('{{ labels|escapejs }}');
    const data = JSON.parse('{{ amounts|escapejs }}');

    console.log(labels);
    console.log(data);

    new Chart(document.getElementById('monthlyChart'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Monthly Expense',
                data: data,
            }]
        }
    });

});
</script>

</body>
</html>
