{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Yearly Expense Chart</h3>

<canvas id="yearlyChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const labels = {{ labels|safe }};
const totals = {{ totals|safe }};

const ctx = document.getElementById('yearlyChart').getContext('2d');

new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Yearly Expenses',
            data: totals,
            tension: 0.4,
            borderWidth: 2
        }]
    },
    options: {
        responsive: true
    }
});

</script>

{% endblock %}