{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Monthly Expense Chart</h3>

<canvas id="monthlyChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const labels = {{ labels|safe }};
const amounts = {{ totals|safe }};
const userMonthData = JSON.parse('{{ user_month_data|escapejs }}');

const ctx = document.getElementById('monthlyChart').getContext('2d');

new Chart(ctx, {

type: 'bar',

data: {
labels: labels,
datasets: [{
label: 'Monthly Expenses',
data: amounts,
borderWidth: 1
}]
},

options: {
responsive: true,

plugins: {
tooltip: {

callbacks: {
label: function(context) {

const month = context.label;
const total = context.raw;

let lines = [];

if (userMonthData[month]) {

userMonthData[month].forEach(function(user){

lines.push(user.username + " - ₹" + user.amount);

});

}

lines.push("Total - ₹" + total);

return lines;

}
}

}

}

}

});

</script>

{% endblock %}