{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">My Monthly Expense Chart</h3>

<canvas id="monthlyChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const labels = {{ labels|safe }};
const values = {{ totals|safe }};

const ctx = document.getElementById('monthlyChart').getContext('2d');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'My Monthly Expenses',
            data: values,
            borderWidth: 1
        }]
    },
    options: {
        responsive: true
    }
});

</script>

{% endblock %}