{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Yearly Expense Chart</h3>

<canvas id="yearlyChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const labels = {{ labels|safe }};
const amounts = {{ totals|safe }};
const userYearData = JSON.parse('{{ user_year_data|escapejs }}');

const ctx = document.getElementById('yearlyChart').getContext('2d');

new Chart(ctx, {

type: 'line',

data: {
labels: labels,
datasets: [{
label: 'Yearly Expenses',
data: amounts,
tension: 0.4
}]
},

options: {

responsive: true,

plugins: {

tooltip: {

callbacks: {

label: function(context){

const year = context.label;
const total = context.raw;

let lines = [];

if(userYearData[year]){

userYearData[year].forEach(function(user){

lines.push(user.username + " - ₹" + user.amount);

});

}

lines.push("Total - ₹" + total);

return lines;

}

}

}

}

}

});

</script>

{% endblock %}